/* стили для мобильных экранов с разрешением 320px */
.card {
  position: relative;
  padding-top: 35px;
}
.card__image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
}
.card__content {
  background-color: var(--white);
  padding: 48px 8px 8px;
  border-radius: 16px;
}
.card__title {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: var(--dark);
  margin-bottom: 4px;
}
.card__info {
  display: flex;
  gap: 4px;
  justify-content: center;
  font-size: 14px;
  color: var(--beige);
  margin-bottom: 16px;
}
.card__price {
  font-weight: 600;
  font-size: 14px;
  text-align: right;
  color: var(--dark);
}
.card__button {
  width: 100%;
  font-size: 14px;
  color: var(--orange);
  border-radius: 32px;
  padding: 8px 24px;
  background: var(--light);
}
/* стили для планшетов с разрешением 768px */
@media (width >= 560px) {
  .card {
    padding-top: 46px;
  }
  .card__image {
    width: 180px;
  }
  .card__content {
    padding: 146px 24px 24px;
    border-radius: 32px;
  }
  .card__title {
    font-size: 24px;
  }
  .card__info {
    gap: 8px;
    font-size: 20px;
    margin-bottom: 24px;
  }
 
  .card__button {
    font-size: 20px;
  }
}
/* стили для ноутбуков с разрешением 1024px */

/* стили для десктопной версии с разрешением 1440px */
