/* стили для мобильных экранов с разрешением 320px */
.header {
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;
  z-index: 5;
}
.header__container {
  display: flex;justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.header__logo {
  width: 120px;
}
.header__cart {
  color: var(--dark);
}

.header__cart:hover {
  color: var(--orange);
}

/* стили для планшетов с разрешением 768px */
@media (width >= 560px) {
  .header {
    top: 40px;
  }

  .header__logo {
    width: 164px;
  } 
}
/* стили для ноутбуков с разрешением 1024px */
/* стили для десктопной версии с разрешением 1440px */
