/* стили для мобильных экранов с разрешением 320px */
.hero {
  background-image: linear-gradient(47deg, #eb8a14 0%, #ecd55a 100%);
  border-radius: 0 0 16px 16px;
  margin-bottom: 43px;
}
.hero__container {
  position: relative;
  padding-top: 80px;
  padding-bottom: 212px;
}
.hero__container::after {
  content: "";
  position: absolute;
  bottom: -43px;
  right: calc(var(--offset-container) + 7px);
  width: calc(100vw / (320 / 261));
  height: calc(100vw / (320 / 230));
  max-width: 382px;
  max-height: 337px;
  background-image: url(../image/cheese-slice-of-pizza-stretches-cheese-for-hero-320.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.hero__content {
  position: relative;
  z-index: 4;
  max-width: 292px;
}
.hero__title {
  margin-bottom: 12px;
  font-weight: 900;
  font-size: 38px;
  line-height: 1;
  color: var(--dark);
}
.hero__tagline {
  margin-bottom: 24px;
  font-size: 14px;
  color: var(--dark);
  background-image: url(../image/icons/car-for-hero.svg);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 32px;
}
.hero__order {
  border-radius: 32px;
  padding: 8px 24px;
  background-color: var(--light);

  font-weight: 600;
  font-size: 14px;
  color: var(--orange);
}

/* стили для планшетов с разрешением 768px */
@media (width >= 560px) {
  .hero {
    margin-bottom: 60x;
    border-radius: 0 0 32px 32px;
  }
  .hero__container {
    padding-top: 116px;
    padding-bottom: 90px;
  }
  .hero__container::after {
    bottom: -60px;
    right: calc(var(--offset-container) + 10px);
    width: calc(100vw / (640 / 382));
    height: calc(100vw / (640 / 337));
    max-width: 566px;
    max-height: 499px;
  }
  .hero__content {
    max-width: 544px;
  }
  .hero__title {
    margin-bottom: 24px;
    font-size: 64px;
  }
  .hero__tagline {
    margin-bottom: 50px;
    font-size: 20px;
  }
  .hero__order {
    font-size: 20px;
  }
}
/* стили для ноутбуков с разрешением 1024px */
@media (width >= 890px) {
  .hero {
    margin-bottom: 82x;
    border-radius: 0 0 32px 32px;
  }
  .hero__container {
    padding-top: 126px;
    padding-bottom: 80px;
  }
  .hero__container::after {
    content: "";
    bottom: -82px;
    right: calc(var(--offset-container) - 7px);
  }
  .hero__content {
    max-width: 544px;
  }
}
/* стили для десктопной версии с разрешением 1440px */
@media (width >= 1140px) {
  .hero {
    margin-bottom: 87x;
  }
  .hero__container {
    padding-top: 140px;
    padding-bottom: 100px;
  }
  .hero__container::after {
    bottom: -87px;
    right: calc(var(--offset-container) + 30px);
    width: calc(100vw / (1140 / 566));
    height: calc(100vw / (1140 / 499));
    max-width: 670px;
    max-height: 591px;
  }
  .hero__content {
    max-width: 620px;
  }
  .hero__title {
    font-size: 80px;
  }
  .hero__tagline {
    margin-bottom: 64px;
  }
}
