/* стили для мобильных экранов с разрешением 320px */
.pizza {
  padding: 24px 0;
}
.pizza__title {
  font-weight: 900;
  font-size: 28px;
  line-height: 1;
  color: var(--dark);
  margin-bottom: 24px;
}
.pizza__list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, minmax(140px, 1fr));
  margin-bottom: 24px;
}

/* для ровной высоты карточек */
.pizza__item {
  display: flex;
  flex-direction: column;
}
.pizza__card {
  flex-grow: 1;
}
/* стили для планшетов с разрешением 768px */
@media (width >= 560px) {
  .pizza {
    padding: 64px 0px;
  }
  .pizza__title {
    font-size: 44px;
  }
  .pizza__list {
    grid-template-columns: repeat(2, minmax(170px, 1fr));
  }
}
/* стили для ноутбуков с разрешением 1024px */
@media (width >= 890px) {
    .pizza__list {
    grid-template-columns: repeat(3, minmax(260px, 1fr));
  }
}
/* стили для десктопной версии с разрешением 1440px */
@media (width >= 1140px) {
  .pizza__list {
    grid-template-columns: repeat(4, minmax(210px, 1fr));
    gap: 20px;
  }
}