/* стили для мобильных экранов с разрешением 320px */
.toppings {
  padding: 24px 0;
}
.toppings__title {
  position: fixed;
  transform: scale(0);
}
.toppings__button {
  font-weight: 600;
  font-size: 18px;
  color: var(--dark);
  display: flex;
  gap: 4px;
  align-items: center;
}
.toppings__arrow {
  transform: transition 0.3s ease;
}
.toppings__button_active .toppings__arrow {
  transform: scaleY(-1);
}
.toppings__list {
  display: none;
  flex-wrap: wrap;
  gap: 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.toppings__list_show {
  display: flex;
  margin-top: 16px;
}
/* .toppings__item {} */
.toppings__label {
  display: block;
  background: var(--white);
  border-radius: 32px;
  padding: 8px 24px;
  font-size: 14px;
  color: var(--beige);
  border: 1px solid transparent;
  cursor: pointer;
}
.toppings__checkbox {
  position: absolute;
  appearance: none;
}
.toppings__checkbox:focus-visible + .toppings__label {
  background-color: var(--white);
  border-color: var(--orange);
}
.toppings__checkbox:checked + .toppings__label {
  background-color: var(--orange);
  color: var(--light);
}

/* стили для планшетов с разрешением 768px */
@media (width >= 560px) {
  .toppings {
    padding: 32px 0;
  }
  .toppings__label {
    font-size: 20px;
  }
}
/* стили для ноутбуков с разрешением 1024px */
@media (width >= 890px) {
  .toppings__button {
    display: none;
  }
  .toppings__title {
    position: static;
    transform: none;
    font-weight: 600;
    font-size: 24px;
    color: var(--dark);
    margin-bottom: 16px;
  }
  .toppings__list {
    display: flex;
    max-height: none;
  }
}
/* стили для десктопной версии с разрешением 1440px */

